{% extends "base.html" %}

{% block title %}Расписание{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
            <!-- start Person Info -->
            <div class="card">
              <div class="card-header text-bg-primary">
                <h4 class="mb-0 text-white">{{ params.title_card }}</h4>
              </div>

              <!-- Форма-->
              <form action="/create/add" method="post">
                <div>
                  <div class="card-body">
                    <h4 class="card-title">Информация</h4>

                    <div class="row pt-3">


                      <!-- Отправить ID -->
                      {% if client.id %}
                            <input type="hidden" id="id" name="id" value="{{ client.id }}"/>
                      {% endif %}



                      <!--Название-->
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Группа</label>
                          <select class="form-select" id="group" name="group">
                            {% for item in groups %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <!--Вид спорта-->
                      
                    </div>

                    <div class="row">
                      <!--Тренеры-->
                      <div class="col-md-6">
                        <div class="mb-3 has-success">
                          <label class="form-label">Тренеры</label>
                          <select class="form-select" id="coaches" name="coaches" multiple>
                            {% for item in clients %}
                                <option value="{{ item.id }}">{{ item.full_name }}</option>
                            {% endfor %}
                          </select>
                          </div>
                        </div>
                      <!--Начало обучения-->
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Дата</label>
                          <input type="date" id="date" name="date" class="form-control"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Начало занятия</label>
                          <input type="time" id="start_time" name="start_time" class="form-control" value="12:00"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Конец занятия</label>
                          <input type="time" id="end_time" name="end_time" class="form-control" value="12:00"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!--Позиция-->
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label">Комментарий</label>
                          <input type="text" id="comment" name="comment" class="form-control" value=""/>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="form-actions">
                    <div class="card-body border-top">
                      <button type="button" class="btn btn-primary" id="buttonSave">
                        Сохранить
                      </button>
                      <button type="button" class="btn bg-danger-subtle text-danger ms-6">
                        Отмена
                      </button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
            <!-- end Person Info -->
          </div>
</div>

<script>
    // Передача переменной из шаблона
    const params = {{ params | tojson }};
    console.log("Переменная из шаблона:", params);
</script>


<script src="/static/js/custom/schedule/create.js"></script>


{% endblock %}


