{% extends "base.html" %}

{% block title %}Расписание{% endblock %}

{% block content %}

<div class="card w-100 position-relative overflow-hidden">
  <div class="px-4 py-3 border-bottom">
    <div class="row">
      <div class="col-lg-10">
        <h4 class="card-title mb-0">Группы</h4>
      </div>
      <div class="col-lg-2 text-end">
        <a href="/schedule/create" type="button" class="btn btn-success">Создать</a>
      </div>
    </div>

  </div>

  <!-- ----------------------------------------- -->
  <!-- 1. Фильтр -->
  <!-- ----------------------------------------- -->

  <div class="card-body">
      <form>
        <div class="row">
          <div class="col-sm-3">
            <div class="mb-3">
                <label class="form-label">Название</label>
                <input type="text" id="name_group" class="form-control" placeholder="Найти"/>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="mb-3">
                <label class="form-label">День недели</label>
                <select class="form-select">
                  <option value="">Пн</option>
                  <option value="">Вт</option>
                  <option value="">Ср</option>
                  <option value="">Чт</option>
                  <option value="">Пт</option>
                  <option value="">Сб</option>
                  <option value="">Вс</option>
                </select>
            </div>
          </div>

          <div class="col-sm-3 d-flex align-items-end">
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">
                <i class="ti ti-send fs-4"></i>
                Фильтровать
              </button>
            </div>
          </div>
        </div>
      </form>
  </div>





  <!-- ----------------------------------------- -->
  <!-- 2. Таблица -->
  <!-- ----------------------------------------- -->

  <div class="card-body p-4">

    <!-- Выполнить -->
    <div class="btn-group mb-2">
      <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
        Выполнить
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
        <li>
          <a class="dropdown-item" href="javascript:void(0)" id="deleteSelected">Удалить</a>
        </li>
        <li>
          <a class="dropdown-item" href="javascript:void(0)" id="subscriptionButton">Выдать абонемент</a>
        </li>
      </ul>
    </div>


    <div class="table-responsive mb-4 border rounded-1">
      <table class="table text-nowrap mb-0 align-middle">
        <thead class="text-dark fs-4">
          <tr>
            <th>
              <input type="checkbox" id="selectAll" />
            </th>
            <th>Группа</th>
            <th>День недели</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Тренеры</th>
            <th>Комментарий</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for item in classes %}
          <tr>
            <td>
              <input type="checkbox" class="select-client" value="{{ item.id }}" />
            </td>
            <td>
              <div class="d-flex align-items-center">
                <img src="/static/images/profile/user-10.jpg" class="rounded-circle" width="40" height="40" />
                <div class="ms-3">
                  <h6 class="fs-4 fw-semibold mb-0">{{ item.group_id }}</h6>
                </div>
              </div>
            </td>
            <td>
              <p class="mb-0 fw-normal">{{ item.weekday }}</p>
            </td>
            <td>
              <p class="mb-0 fw-normal">{{ item.start_time }}</p>
            </td>
            <td>
              <p class="mb-0 fw-normal">{{ item.end_time }}</p>
            </td>
            <td>
              <p class="mb-0 fw-normal">{{ item.comment }}</p>
            </td>
            <td>

              <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm btn-danger btn-delete-client" data-client-id="{{ item.id }}">
                      <i class="ti ti-trash fs-5"></i>
                    </button>
                    <a type="button" class="btn btn-sm btn-primary" href="/schedule/update/{{ item.id }}">
                      <i class="ti ti-edit fs-5"></i>
                    </a>
                </div>
              </div>


<!--              <div class="dropdown dropstart">-->
<!--                <a href="javascript:void(0)" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                  <i class="ti ti-dots fs-5"></i>-->
<!--                </a>-->
<!--                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                  <li>-->
<!--                    <a class="dropdown-item d-flex align-items-center gap-3" href="/schedule/update/{{ item.id }}">-->
<!--                      <i class="fs-4 ti ti-edit"></i>Редактировать-->
<!--                    </a>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <button class="dropdown-item d-flex align-items-center gap-3 btn-delete-client" data-client-id="{{ item.id }}">-->
<!--                      <i class="fs-4 ti ti-trash"></i>Удалить-->
<!--                    </button>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->


            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

</div>


<script src="/static/js/custom/schedule/index.js"></script>


{% endblock %}


